[submodule "vimrc/pack/git-plugins/start/ale"]
	path = vimrc/pack/git-plugins/start/ale
	url = git@github.com:w0rp/ale.git
[submodule "vimrc/pack/git-plugins/start/ayu-vim"]
	path = vimrc/pack/git-plugins/start/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "vimrc/pack/git-plugins/start/vim-easymotion"]
	path = vimrc/pack/git-plugins/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vimrc/pack/git-plugins/start/elm-vim"]
	path = vimrc/pack/git-plugins/start/elm-vim
	url = git@github.com:ElmCast/elm-vim.git
[submodule "vimrc/pack/git-plugins/start/emmet-vim"]
	path = vimrc/pack/git-plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "vimrc/pack/git-plugins/start/nerdtree"]
	path = vimrc/pack/git-plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vimrc/pack/git-plugins/start/vim-surround"]
	path = vimrc/pack/git-plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vimrc/pack/git-plugins/start/vim-elixir"]
	path = vimrc/pack/git-plugins/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git

[submodule "vimrc/pack/git-plugins/start/alchemist.vim.git"]
	path = vimrc/pack/git-plugins/start/alchemist.vim.git
	url = https://github.com/slashmili/alchemist.vim.git
